*{
    font-family: 'Montserrat';
    scroll-behavior: smooth !important;
}
:root{
    --dark-orange: #2EC4B6;
    --medium-orange: #E71D36;
    --light-orange: #ff8373;
    --dark-purple: #FF9F1C;
    --dark-yellow: #4E598C;
    --dark-blue: #5F0F40;
}
.card p{
    color: white !important;
}
.card h4{
    color: white !important;
    font-weight: 500 !important;
}
.dark-orange{
    background: var(--dark-orange) !important;
    color: white !important;
}
.medium-orange{
    background: var(--medium-orange) !important;
    color: white !important;
}
.light-orange{
    background: var(--light-orange) !important;
    color: white !important;
}
.dark-purple{
    background: var(--dark-purple) !important;
    color: white !important;
}
.dark-yellow{
    background: var(--dark-yellow) !important;
    color: white !important;
}
.dark-blue{
    background: var(--dark-blue) !important;
}
.text-montserrat{
    color: var(--light-gray);
    font-weight: 500;
}
.bar{
    height: 55px;
    padding-right: 2rem;
}

section{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    border: 0px solid;
}
.menu a{
    text-decoration: none;
    outline: none;
    list-style: none;
}

.hide{
    display: none;
}
.show{
    display: block !important;
}